.content
{
	background-color: #0076A680;
	height: 83%;
	display: flex;
	flex-direction: column;
}

.top
{
	display: flex;
	flex-grow: 2;
    justify-content: space-around;
    /*background-color: #57171e;*/
    height: 40%;
}

.center
{
	display: flex;
	height: 30%;
	width: 100%;
}

#localisation_borne
{
	/*background-color: #ad39a2;*/
	width: 50%;
	display: flex;

}

#img_loc
{
	margin-left: 30%;
	margin-bottom: 2%;
	height: 75%;
	align-self: flex-end;
}

#legende
{
	/*background-color: #39ad98;*/
	flex-basis: 50%;
	text-align: right;
	width: 50%;
}

.margin_legend
{
	margin: 5px;
}


.bottom
{
	display: flex;
	flex-grow: 2;
	/*background-color: #ebb434;*/
	justify-content: space-around;
	height: 40%;
}



.rayonpict
{
	
	width: 65%;
	height: 90%;
}

.wrap
{
	height: 10%;
}

















