
/*---------------------header---------------------------*/


.header
{ 
  height: 100%;
  width:100%;
  background-color: #82C11DA8 ;
  background-attachment: fixed;  

}
.home
{
  width: auto;
  height: 100%;
  display: inline-block;
  float: left;

}
.logo
{
  width: auto;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%)
}
.rayon
{
  width: 10%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: inline-block;
  float: right;
  font-size: 2.5vh;
}
.rayon h3{
  margin : 0;
  position: relative;
  top: 50%;
  transform: translate(0, -50%)
}

/*---------------------fin header---------------------------*/



.container {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*---------------------Search bar--------------------------CR-*/

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #000;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000;
}

.searchTerm:focus{
  color: #0b006b;
  font-weight: 700;
}

.searchButton {
  width: 90px;
  height: 36px;
  border: 3px solid #000;
  padding: 0 0 0 0;
  background: #fff;
  text-align: center;
  color: #000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 14px;
  font-style: black;
}
.searchButton:hover,
.searchTerm:hover {
  background: #ccc;
} 

.searchButton p{
  margin: 0;
}

.wrap{
  margin: 10px;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

/*---------------------Fin Search Bar-------------------*/

/*---------------------Footer-------------------------CR--*/
.float-right{
  margin-right: 0px;
  float: right;
}

.float-left{
  margin-right: 0px;
  float: left;
}
.footer {
  height: 100%;
  width:100%;
  font-family: lato, sans-serif;
  font-weight: 700;
  font-style: bold;
  
  background-color: white;
  color: black;
  text-align: center;
}
.hrstyle{
  width: 100%;
  height: 0.05vh;
  margin :0;
  color: gray;
  background-color: gray;
  border : solid;
  border-radius: 10px;
}
.inline{
  display: inline-block;
}
.footer p{
  margin-top: 2px;
  margin-bottom: 2px;
  font-size:2.7vh;
}

/*---------------------fin footer---------------------------*/


/*---------------------Basic and font--------------------------CR-*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  height: 100%;
  width:100%;
}
header{
  height: 12%;
  width:100%;
}


body {
  margin: 0;
  height: 100%;
  width:100%; 
}

p{
  font-family: lato;
  font-style: normal;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6{
  font-family: lato;
  font-style: normal;
  font-weight: 700;
}

.layout-content
{
  height: 82%;
  width: 100%;
  position: 

}

.layout-footer
{
  position: fixed;
  height: 5%;
  width: 100%;
  left: 0;
  bottom: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}



@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-black-webfont.eot');
  src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-black-webfont.svg#latoblack') format('svg'), url('../fonts/lato-black-webfont.woff') format('woff'), url('../fonts/lato-black-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-italic-webfont.eot');
  src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg'), url('../fonts/lato-italic-webfont.woff') format('woff'), url('../fonts/lato-italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-webfont.svg#latoregular') format('svg'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light-webfont.svg#latolight') format('svg'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}